.catalog {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.catalog__title {
  padding: 0 20px 40px 20px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: min-content;
    column-gap: 60px;
    row-gap: 140px;
    margin-top: 164px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 146px;
  }
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  min-height: 209px;
  justify-content: center;
  padding: 0 20px 24px 20px;
  border-top: 1px solid $basic-gray-light;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: $basic-gray;
    padding-bottom: 40px;
  }

  &:last-child {
    border-bottom: 1px solid $basic-gray-light;

    @media (min-width: $tablet-width) {
      border: 1px solid $basic-gray-light;
      background-color: $basic-white;
    }
  }
}

.catalog__inner {
  display: flex;
  flex-direction: column;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 100%;
    align-items: center;
    padding: 0 18px;
  }
}

.catalog__inner-description {
  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.catalog__inner-img {
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -73px;
    margin: 0 0 -80px;
    height: 208px;
  }

  @media (min-width: $desktop-width) {
    top: -87px;
    margin: 0 0 -86px;
  }
}

.catalog__link {
  display: flex;
  height: 144px;
  align-items: start;
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 208px;
    align-items: flex-end;
  }
}

.catalog__item:nth-of-type(3) .catalog__link {
  padding-top: 46px;
}

.catalog__item:nth-of-type(5) .catalog__link {
  padding-top: 48px;
}

.catalog__item:nth-of-type(7) .catalog__link {
  padding-top: 44px;
}

.catalog__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
