.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 163px;
    padding: 0;
  }
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-gray;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: $special-light-dark-gray;
}

.copyright__img {
  outline: none;

  &:hover,
  &:focus {
    .copyright__icon {
      fill: $basic-green;
    }
  }

  &:active {
    .copyright__icon {
      fill: transparentize($basic-green, 0.3);
    }
  }
}
