.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form__inner {
  display: flex;
  flex-direction: column;

  &--btn {
    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  &--contact {
    @media (min-width: $tablet-width) {
      justify-content: flex-start;
      width: 100%;
    }
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      grid-gap: 80px;
      width: 100%;
    }
  }
}
.form__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
  margin: 0 0 25px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  &--program {
    border-top: 1px solid $basic-gray-dark;
    border-bottom: 1px solid $basic-gray-dark;
    padding-top: 21px;
    padding-bottom: 21px;

    @media (min-width: $tablet-width) {
      border: 1px solid $basic-gray-dark;
      padding-left: 28px;
      padding-top: 29px;
      padding-bottom: 19px;
      margin-bottom: 75px;
    }

    @media (min-width: $desktop-width) {
      width: 569px;
    }
  }

  &--contact {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 68px;
    }
  }

  &--comment {
    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }
  }

  &--additional {
    margin-bottom: 41px;

    @media (min-width: $tablet-width) {
      margin-bottom: 59px;
    }
  }
}
.form__name {
  position: relative;
  display: flex;
  align-items: center;

  &--about:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 569px;
    }
  }
  &--contact:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}
.form__description {
  display: block;
  font-size: 16px;
  line-height: 18px;
  margin-right: 10px;
  color: $special-dark-gray;
  text-transform: uppercase;

  &--radio,
  &--check {
    margin-left: 45px;
  }
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--about {
    margin-right: 13px;

    @media (min-width: $tablet-width) {
      margin-right: 18px;
    }
  }
}
.form__input {
  flex-grow: 1;
  height: 46px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-gray;
  text-transform: uppercase;
  padding-left: 15px;
  border: 1px solid $basic-white-dark;

  &:hover {
    border: 1px solid $base-gray-light-adv;
  }

  &:focus {
    border: 2px solid $special-dark-gray;

    & + .form__img {
      path,
      line {
        stroke: $basic-green;
      }
    }
  }

  &:invalid {
    border: 2px solid $special-red;

    & + .form__img {
      path,
      line {
        stroke: $special-red;
      }
    }
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    font-size: 20px;
    line-height: 29px;
  }

  &--comment {
    width: 100%;
    padding-top: 13px;
    min-height: 150px;
    margin: 0;

    @media (min-width: $tablet-width) {
      width: 671px;
      min-height: 174px;
      padding: 10px 18px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }
}
.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  &--additional {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      column-gap: 60px;
      row-gap: 40px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
.form__item {
  &:not(:last-child) {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }
  }
  &--additional {
    @media (min-width: $tablet-width) {
      margin: 0;
      width: 284px;
    }
    @media (min-width: $desktop-width) {
      width: 221px;
    }
    &:not(:last-child) {
      @media (min-width: $tablet-width) {
        margin: 0;
      }
    }
  }
}
.form__title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  padding-right: 20px;
  margin-bottom: 33px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
    padding: 0 42px;
    left: -42px;

    &::before {
      position: absolute;
      content: "";
      width: 100vw;
      height: 2px;
      background-color: $basic-green;
      top: 16px;
      z-index: -1;
      transform: translateX(-100%);
    }
  }

  &--contact {
    width: 221px;

    @media (min-width: $tablet-width) {
      width: auto;
    }
  }

  &--additional {
    margin-bottom: 39px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
    top: 16px;
    z-index: -1;
  }
}
.form__img {
  position: absolute;
  right: 16px;
}
.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 282px;
    min-height: 52px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__text {
  margin: 0;
  margin-top: 21px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 17px;
    font-size: 16px;
    flex-grow: 1;
    margin-left: 61px;
    text-align: left;
  }
}

.form__radio {
  appearance: none;

  &:hover,
  &:focus {
    & + .form__box--radio {
      border: 1px solid $special-gray-middle;
    }
  }

  &:checked {
    & + .form__box--radio {
      background-color: $basic-green;
      box-shadow: inset (0 0 0 8px $basic-white);

      @media (min-width: $tablet-width) {
        box-shadow: inset 0 0 0 12px $basic-white;
      }
    }
  }

  &:disabled {
    & + .form__box--radio,
    & ~ .form__description--radio {
      opacity: 0.3;
    }
  }
}

.form__box {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid $base-gray-light-adv;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &--radio {
    content: "";
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  }

  &--check {
    content: "";
  }
}

.form__check {
  appearance: none;

  &:hover,
  &:focus {
    & + .form__box--check {
      border: 1px solid $special-gray-middle;
    }
  }

  &:disabled {
    & + .form__box--check {
      opacity: 0.3;
    }

    & ~ .form__description--check {
      opacity: 0.3;
    }
  }
  &:checked {
    & + .form__box--check {
      &::after,
      &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        height: 2px;
        background-color: $basic-green;
      }

      &::after {
        width: 17px;
        margin-top: -1px;
        margin-left: -5px;
        transform: rotate(-48deg);
      }

      &::before {
        width: 10px;
        margin-top: 1px;
        margin-left: -10px;
        transform: rotate(46deg);
      }
    }
  }
}
