.gift {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  margin: 39px 0 35px 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: cover;
    // background-size: 280px auto;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 100%;
    min-height: 200px;
    padding-right: 124px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/3;
    width: 245px;
    height: 289px;
    padding: 0 0 42px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}

.gift__description {
  position: relative;
  width: 161px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic-white;
  margin: 140px 0 0 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0 0 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: auto 0 0;
    text-align: center;
  }

  &::after {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    left: 50%;
    bottom: 105px;
    background-image: url("../img/icon_gift.svg");
    margin-left: -38px;

    @media (min-width: $tablet-width) {
      left: -306px;
      top: -13px;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      top: -130px;
    }
  }
}
