.location {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &--index {
    background-color: $basic-white;
  }
}
.location__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 72px;
    margin-top: 64px;
    margin-bottom: 53px;
  }
}
.location__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    min-height: 72px;
  }
}
.location__text {
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 171px;
  }

  &--invite {
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: inherit;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 21px;
      text-align: left;
    }
  }

  &--adress {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $special-dark-gray;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      text-align: right;
    }
  }
}

.location__map {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}
