.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    padding-top: 20px;
  }
}
.main-nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
  }
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 440px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $basic-gray-light;
  height: 66px;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}
.main-nav__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-black;
}
.main-nav__toggle {
  width: 24px;
  height: 16px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
