.page-footer {
  background-color: $basic-gray;
}

.page-footer__inner {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;
  }
}
