.page-main {
  &--form {
    margin-top: 22px;
    overflow-x: hidden;
  }

  &--catalog {
    overflow-x: hidden;
  }
}

.page-main--index {
  position: relative;

  @media (min-width: $desktop-width) {
    &::before {
      position: absolute;
      content: "";
      height: 33.5%;
      width: 50%;
      background: url("../img/index-background-desktop@1x.jpg") right top;
      background-color: $special-green;
      background-repeat: no-repeat;
      top: -120px;
      right: 0;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}
