.programms {
  padding: 0 20px;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 106px 40px 0;
  }
}

.programms__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.programms__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $basic-gray;
  padding: 20px 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    min-height: 372px;
    padding-top: 68px;
    padding-left: 52px;
    padding-right: 20px;

    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    min-height: 374px;
    margin-bottom: 29px;
  }
}

.programms__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 72px;
  padding-bottom: 29px;
  padding-top: 9px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
  }

  &--slim {
    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 53px;
      background-image: url("../img/cat_back.svg");
      background-repeat: no-repeat;
      left: 1px;
      top: -1px;

      @media (min-width: $tablet-width) {
        display: none;
      }

      @media (min-width: $desktop-width) {
        display: block;
        position: absolute;
        content: "";
        top: -25px;
        right: 0;
        width: 105px;
        height: 105px;
        background-image: url("../img/cat_back-desktop.svg");
        background-repeat: no-repeat;
        z-index: 10;
      }
    }
  }

  &--weight {
    &::before {
      position: absolute;
      content: "";
      width: 67px;
      height: 50px;
      background-image: url("../img/cat-weight.svg");
      background-repeat: no-repeat;
      left: -8px;
      top: 7px;

      @media (min-width: $tablet-width) {
        display: none;
      }

      @media (min-width: $desktop-width) {
        display: block;
        position: absolute;
        content: "";
        top: -22px;
        left: -20px;
        width: 140px;
        height: 105px;
        background-image: url("../img/cat_weight-desktop.svg");
        background-repeat: no-repeat;
        z-index: 10;
      }
    }
  }
}

.programms__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-gray;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $basic-gray-dark;
  margin-bottom: 19px;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--weight {
    padding-top: 3px;

    @media (min-width: $tablet-width) {
      &::after {
        position: absolute;
        content: "";
        top: 92px;
        right: 28px;
        width: 268px;
        height: 200px;
        background-image: url("../img/cat_weight-tablet.svg");
        background-repeat: no-repeat;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 377px;
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    padding-bottom: 52px;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    margin-bottom: 25px;
    padding-bottom: 0;
    padding-top: 50px;

    br {
      display: none;
    }
  }

  &--slim {
    @media (min-width: $tablet-width) {
      &::after {
        position: absolute;
        content: "";
        top: 80px;
        right: 62px;
        width: 200px;
        height: 215px;
        background-image: url("../img/cat_back-tablet.svg");
        background-repeat: no-repeat;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        display: none;
      }
    }
  }
}

.programms__link {
  display: block;
  width: 130px;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 12px;
    top: 2px;
    margin-left: 16px;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      top: 8px;
      margin-left: 25px;
    }
  }

  &:hover,
  &:focus {
    &::after {
      width: 32px;
      height: 12px;
      background-image: url("../img/icon-long-arrow.svg");
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
