.program-select {
  margin-bottom: 33px;
}
.program-select__text {
  width: 226px;
  margin: 0;
  margin-top: 37px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.program-select__form {
  margin-top: 39px;
}
