.programms {
  margin-top: 22px;

  @media (min-width: $desktop-width) {
    padding-top: 81px;
  }
}
.programms__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.programms__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $basic-gray;
  padding: 21px 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    min-height: 372px;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 20px;

    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    min-height: 374px;
    margin-bottom: 29px;
  }
}
.programms__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 90px;
  padding-bottom: 29px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
  }

  &--slim {
    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 53px;
      background-image: url(../img/cat_back.svg);
      background-repeat: no-repeat;
      left: 0;
      top: -3px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--weight {
    &::before {
      position: absolute;
      content: "";
      width: 67px;
      height: 50px;
      background-image: url(../img/cat-weight.svg);
      background-repeat: no-repeat;
      left: 0;
      top: -3px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }
}
.programms__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-gray;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $basic-gray-dark;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    width: 377px;
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    padding-bottom: 52px;
    margin: 0;
    border: none;
  }

  &--slim {
    @media (min-width: $tablet-width) {
      &::after {
        position: absolute;
        content: "";
        top: 100px;
        right: 60px;
        width: 200px;
        height: 215px;
        background-image: url(../img/cat_back-tablet.svg);
        background-repeat: no-repeat;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        display: none;
      }
    }
  }
  &--weight {
    @media (min-width: $tablet-width) {
      &::after {
        position: absolute;
        content: "";
        top: 100px;
        right: 30px;
        width: 268px;
        height: 200px;
        background-image: url(../img/cat_weight-tablet.svg);
        background-repeat: no-repeat;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        display: none;
      }
    }
  }
}

.programms__link {
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
