.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 480px;
  background-image: url(../img/index-background-mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background: none;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: min-content min-content min-content;
    min-height: 550px;
  }
}
.promo__img {
  order: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: 133px;
    margin-bottom: -138px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
    bottom: 100%;
    top: -6px;
    left: -205px;
  }
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  height: 100%;

  &--button {
    width: 100%;
    order: 1;
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    align-items: stretch;
    justify-content: start;
    width: 100%;
    padding-left: 87px;
    margin-bottom: 50px;

    &--button {
      order: 0;
    }
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    width: auto;
    margin: 0;
    padding-top: 50px;
    padding-left: 78px;

    &--button {
      grid-column: 1/2;
      margin: 0;
      padding-left:83px;
    }
  }
}

.promo__title {
  color: $basic-white;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 25px;
  width: 249px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 60px;
    color: inherit;
    width: 414px;
    text-align: left;
  }
}
.promo__discription {
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-align: center;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: inherit;
    margin: 0;
    margin-top: 41px;
    text-align: left;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 244px;
    height: 54px;
    z-index: 2;
    margin-left: -4px;
  }
}
