.properties__subtitle {
  margin: 0;
  margin-top: 21px;
  width: 100px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $special-dark-gray-2;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 33px;
    font-size: 20px;
    line-height: 24px;
    width: 159px;
    text-align: center;
  }
}

.properties__list {
  list-style: none;
  margin: 14px 0 0 0;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }
}

.properties__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
    border-bottom: 1px solid $base-gray-light-adv;

    &:not(:first-child) {
      padding-top: 5px;
    }
  }
}

.properties__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-gray;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
