.example__slider {
  margin-top: 35px;
  padding-bottom: 25px;
}
.slider__list {
  list-style: none;
  padding: 0;
  display: grid;
}
.slider__item {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: none;

  &--active {
    display: block;
  }
}
