.social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $basic-gray-dark;
  border-bottom: 1px solid $basic-gray-dark;
  height: 63px;

  @media (min-width: $tablet-width) {
    height: auto;
    border: none;
  }
}
.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin: 0;
  padding: 0;
}

.social__link {
  display: block;

  &:hover,
  &:focus {
    path {
      fill: none;
      stroke: $basic-green;
    }
  }

  &:active {
    path {
      fill: none;
      stroke: transparentize($basic-green, 0.3);
    }
  }
}
