.social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $basic-gray-dark;
  border-bottom: 1px solid $basic-gray-dark;
  height: 63px;

  @media (min-width: $tablet-width) {
    height: auto;
    border: none;
    margin-left: 32px;
  }
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 130px;
  margin: 0 10px 0 2px;
  padding: 0;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 39px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 5px;

    &:not(:last-child) {
      margin-right: 29px;
    }
  }
}

.social__img {
  fill: $special-light-dark-gray;
}

.social__link {
  outline: none;

  &:hover,
  &:focus {
    .social__img {
      fill: $basic-green;
    }
  }

  &:active {
    .social__img {
      fill: transparentize($basic-green, 0.3);
    }
  }

  &--vk {
    @media (min-width: $tablet-width) {
      .social__img {
        width: 28.89px;
        height: 17px;
      }
    }
  }

  &--inst {
    @media (min-width: $tablet-width) {
      .social__img {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--fb {
    @media (min-width: $tablet-width) {
      .social__img {
        width: 12.83px;
        height: 26.87px;
      }
    }
  }
}
