/* Color */
$basic-black: #000000;
$basic-gray-light: #e6e6e6;
$basic-gray-dark: #d9d9d9;
$basic-white: #ffffff;
$basic-green: #68b738;
$special-green: #5eaa2f;
$basic-gray: #F2F2F2;
$special-dark-gray: #444444;
$basic-white-dark: #EAEAEA;
$base-gray-light-adv: #CDCDCD;
